{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>
        {% block title %}
        My Website
        {% endblock %}
    </title>
</head>
<body class="vh-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Twitter Clone</a>
            <div class="d-flex" id="navbarNav">
                <a href="{% url 'tweet_list' %}" class="btn btn-primary ms-3">Tweets</a>
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-danger ms-3">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-success ms-3">Login</a>
                <a href="{% url 'register' %}" class="btn btn-warning ms-3">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>
   <div class="container">
    {% block content %}
    {% endblock %}
   </div> 
</body>
</html>